$border-white: white;

$cript_bg: black;
$cript_cof_bg: #05E8EB3D;
$cript_color: white;
$cript_cof_color: #00ABA8;

$border-input-color:#FFFFFF80;

$primary-highlight: #05E8EB;
$primary-text-color: white;
$card-gradient: linear-gradient(246.32deg, rgba(5, 232, 235, 0.8) -30.42%, rgba(0, 0, 0, 0.8) 75.98%);
$button-gradient: linear-gradient(90deg, #00FEC6 0%, #00BED4 100%);
$button-color-text: black;

$input-border-color: #FFFFFF80;
$regestration-bg-gradient: linear-gradient(219.55deg, rgba(5, 232, 235, 0.8) -63.08%, rgba(0, 0, 0, 0.8) 65.34%);
$rectangle-gradient: linear-gradient(94.6deg, #494949 -40.67%, #030303 104.48%);
$rectangle-number-color: #5E5E5E;

// Розміри
$header-nav-width: 46.875rem; // 750px / 16px = 46.875rem


$base-container-width: 81.25rem; // 1300px / 16px = 81.25rem

$small_border_radius: 0.625rem; // 10px / 16px = 0.625rem

$button_border_radius: 0.625rem; // 10px / 16px = 0.625rem

// title
$font-family-title: 'Open Sans', sans-serif;
$font-weight-title: 700;
$font-size-title: 3.125rem; // 50px / 16px = 3.125rem
$line-height-title: 3.75rem; // 60px / 16px = 3.75rem
$base-title-color: white;

// description
$font-family-description: 'Roboto', sans-serif;
$font-weight-description: 400;
$font-size-description: 1rem; // 16px / 16px = 1rem
$line-height-description: 0.92rem; // 14.72px / 16px = 0.92rem
$base-description-color: white;

// Font size for small buttons
$small-button-family: Roboto;
$small-button-font-weight: 400;
$small-button-font-size: 1rem; // 16px / 16px = 1rem
$small-button-line-height: 1.171875rem; // 18.75px / 16px = 1.171875rem

// Font size for big buttons
$calc-button-family: Roboto;
$calc-button-font-weight: 700;
$calc-button-font-size: 1.25rem; // 20px / 16px = 1.25rem
$calc-button-line-height: 1.465rem; // 23.44px / 16px = 1.465rem

// Змінні
$cript-font-family: "Roboto", sans-serif;
$cript-font-weight: 700;
$cript-font-size: 1.5625rem; // 25px / 16px = 1.5625rem
$cript-line-height: 3.75rem; // 60px / 16px = 3.75rem

// Змінні для стилів
$cript-cof-font-family: "Roboto", sans-serif;
$cript-cof-font-weight: 700;
$cript-cof-font-size: 1rem; // 16px / 16px = 1rem
$cript-cof-line-height: 0.9375rem; // 15px / 16px = 0.9375rem

// Змінні для стилю calculator-title
$calculator-title-font-family: "Open Sans", sans-serif;
$calculator-title-font-weight: 700;
$calculator-title-font-size: 2.1875rem; // 35px / 16px = 2.1875rem
$calculator-title-line-height: 3.75rem; // 60px / 16px = 3.75rem

// asdasdasdasd
$calc-plus-font-family: "Roboto", sans-serif;
$calc-plus-font-weight: 700;
$calc-plus-font-size: 1.875rem; // 30px / 16px = 1.875rem
$calc-plus-line-height: 1.725rem; // 27.6px / 16px = 1.725rem

//////////////////
$give-money-font-family: "Roboto", sans-serif;
$give-money-font-weight: 700;
$give-money-font-size: 1.25rem; // 20px / 16px = 1.25rem
$give-money-line-height: 1.15rem; // 18.4px / 16px = 1.15rem

/////////////////////
$option-choose-title-font-family: 'Open Sans', sans-serif;
$option-choose-title-font-weight: 700;
$option-choose-title-font-size: 1.5625rem; // 25px / 16px = 1.5625rem
$option-choose-title-line-height: 1.625rem; // 26px / 16px = 1.625rem

$about-us-title-font-family: 'Open Sans', sans-serif;
$about-us-title-font-weight: 700;
$about-us-title-font-size: 1.875rem; // 30px / 16px = 1.875rem
$about-us-title-line-height: 2.5546875rem; // 40.85px / 16px = 2.5546875rem

$rotated-us-font-family: "Open Sans", sans-serif;
$rotated-us-font-weight: 700;
$rotated-us-font-size: 9.6875rem; // 155px / 16px = 9.6875rem
$rotated-us-line-height: 13.19rem; // 211.08px / 16px = 13.19rem


$spacer-height: 6.25rem; // 100px / 16px = 6.25rem